# Derlenmiş dosyalar
bin/
*.class

.env

# IDE Ayarları
.settings/
.classpath
.project
.vscode/
.idea/

# Kullanıcıya özel ayarlar ve veriler
theme.properties
saved_canvases/

# Geçici dosyalar
*.log
tmp/

# Diğer
.DS_Store